.for-map{
  margin-right: 34vw;
  width: auto;
  margin-left: 20px;
}

.map-position{
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
  width: 33vw !important;
  height: 100vh !important;
}
