.bookbox{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.bookvisual{
  padding: 40px 0px;
  text-transform: uppercase;
}

.bookinfo{
  padding: 40px 0px;
  text-transform: uppercase;
}

.picbox{

}
.book-title{
  text-transform: uppercase;
  font-size: 25px;
}

.infobox{
}

.infolist{
  list-style: none;
  padding: 40px 0px;
}

.orderbox{
}

.btn-order{
  background-color: #16e0d6;
  color: white;
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
}
