.margin-300{
  margin-top: 300px;
}

.bookvisual{
  // padding: 40px 0px;
  text-transform: uppercase;
}

.bookphoto{
  width: 700px;
  height:auto;
}

.bookinfo{
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: 40px;
  text-transform: uppercase;
}

.picbox{

}
.book-title{
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

.infobox{
}

.infolist{
  list-style: none;
  padding: 40px 0px;
}

.orderbox{
}

.btn-order{
  background-color: #16e0d6;
  color: white;
  border-radius: 3px;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-order:hover{
  background-color: #18f2e7;
  color: white;
}
