.banner-show{
      width: 85vw;
      max-width: 1000px;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: white;
}

.datepicker-dropdown{
  margin-top: 100px;
}

#author{
  font-weight: lighter;
  font-size: 13px;
  text-align: right;
}

.bigger{
  font-size: 30px !important;
}

.banner-image{
position: absolute;
left: 0px;
top: 15%;
bottom:15%;
height:80%;
width:50%;
background-size: cover;
background-position-x: center;
}

.avatar-user {
  position: absolute;
  right: 15px;
  top: 15px;
  }


.banner-description{
position: absolute;
right: 0px;
top: 0px;
bottom: 0px;
width:50%;
}

.flexbox-categories{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  bottom:0px;
  height:5%;
  width:50%;
}

.flexbox-title{
  position:absolute;
top:0px;
right: 0px;
height:15%;
width: 100%;
padding: 0px 20px;
display: flex;
align-items: center;
justify-content: center;
}

.book-full-description{
   position:absolute;
top:15%;
right: 0px;
height:35%;
width: 100%;
padding: 0px 50px;
color: grey;
font-size: 16px;
font-weight:400;
font-family: 'Raleway', serif;
text-align: justify;
overflow: hidden;
}


.flexbox-order-form{
position:absolute;
top:50%;
right: 10px;
height:15%;
width: 90%;
padding-left: 20px;
padding-right: 20px;
padding-top: 15px;
display: flex;
align-items: center;
}



.smaller {
margin-top: 0px;
margin-bottom: 22px;
margin-left: 5px;
font-size: 15px;
font-family: 'Roboto', serif;
font-weight: 400;
.control-label{
  margin-bottom: 0px;
}
}


#price{
  margin-right: 20px;
}



.btn-order{
  background-color: $blue;
  color: white;
  border-radius: 3px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0px 5px;
  border-color: $blue;
  opacity: 0.8;

&:hover{
text-decoration: none;
  color: white;
  opacity: 1;
  background-color: $blue;
}
&:focus{
  text-decoration: none;
  color: white;
  opacity: 1;
  background-color: $blue;

}
}
.btn-default:hover {
  border-color: $blue;
}


.go-back{
  margin: 50px;
}

.go-back h3{
  font-size: 18px;
  color: #bfbfbf;
  text-decoration: none;

}
.go-back h3:hover{
  color: $blue;
}

.go-back a:hover{
  text-decoration: none;
}

.user-back{
  position: relative;
  right: 53px;
}
