.profile-pic{
  height: 250px;
  width: 250px;
  // object-fit: fill;
  border-radius: 50%;
  border: solid 5px #0FCFCA;
  margin-bottom: 40px;
}

.profile-name{
  font-size: 40px;
  font-family: 'Raleway';

}

.marginbot{
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: solid 3px #ebebeb;
}
