.profile-pic{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: solid 12px #0FCFCA;
  // border: solid 10px #ebebeb;

  margin-bottom: 40px;
}

.profile-name{
  font-size: 40px;
  font-family: 'Raleway';

}

.marginbot{
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: solid 3px #ebebeb;
}

.my-collection{
  margin-bottom: 40px;
}

.go-edit{
  margin-top: 40px;
}
