// SHOULD BE IN ANOTHER PAGE
.margin-top{
  margin-top:100px;
}

.flexbox-harbor{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-description{
 font-family: 'Raleway', serif;
  font-size: 76px;
  font-weight: lighter;
  color: grey;
  text-align: right;
  padding-right:40px;
  line-height: 80px;
  margin-top: 15vh;
  margin-bottom: 15vh;
}


.profile-page {
  margin: 10px 10px;
}


.index-title{
  margin-top: 40px;
   font-family: 'Roboto', serif;
   font-weight: 500;
   font-size: 35px;
   margin-left: 10px;
   }

.books-harbor{
  font-family: 'Raleway', serif;
  font-size: 80px;
  font-weight: 700;
  border-left: grey 1px solid;
  padding-left:40px;
  line-height: 80px;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.blue{
    color: $blue;
   }

.list-of-dates{
 top: 65%;
  right: 50px;
  font-family: 'Roboto', serif;
  list-style: none;
  position: absolute;
}


.date-element{
background-color: $blue;
  color: white;
  padding: 1px 5px;
  margin-top: 10px;
  font-family: 'raleway', serif;
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
}

.profile-link{
width: 100%;
height: 100%;
opacity: 0.1;
background-color: black;
z-index: 3;
&:hover{
  text-decoration: none;
 }
}

.dates{
  background-color: $blue;
  color: white;
  position: absolute;
  top: -15px;
  right:-10px;
  padding: 1px 5px;
  font-family: 'Roboto', serif;
  margin-bottom: 5px;
}
    //----------------------------------------

.card {
  height: 400px;
  background-color: white;
  color: black;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.padded{
  padding:12px;
}

.card-image{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height:50%;
  background-size: cover;
}

.book-content{
  position:absolute;
  top:50%;
  margin-right: 20px;
  margin-left: 20px;
}

.book-title {
  color: black;
  font-family: 'Roboto', serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: 12px;
  padding-top: 20px;
  z-index: 3 !important;
}

.book-description{
  color: grey;
  font-size: 15px;
  font-weight:400;
  text-align: justify;
}

.book-price{
  color: #0FCFCA;
  position: absolute;
 bottom: 0px;
  right:15px;
  font-size: 18px;
}

.book-category {
  position: absolute;
  color: grey;
  font-size: 10px;
  font-weight: 400;
  background-color: rgb(240, 240, 240);
  padding:2px 5px;
  margin: 0px 3px;
  font-family: 'Roboto', serif;
 }

  #on-small-card{
    bottom:10px;
  left:20px;
  }

  #on-big-card{
    font-size: 15px;
    margin-top: 5px;
  }


.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
